.navbar_container {
 background-color: grey ;
 display: flex ;
 width: 100% ;
 /*padding: 12px ;*/
 z-index: 2 ;
}

.navbar_bar_container {
 height: 8vh ;
 min-height: 60px ;
 padding: 12px ;
}

.navbar_bars {
 background-color: white ;
 height: 40px ;
 width: 40px ;
}

.navbar_back {
 background-color: black ;
 height: 40px ;
 width: 40px ;
}

.navbar_bars__selected {
 background-color: white ;
 height: 40px ;
 width: 40px ;
 border: solid 1px red ;
}

.navbar_side_menu {
 padding: 12px ;
 position: absolute ;
 background-color: red ;
 height: 100% ;
 width: 40% ;
 max-width: 300px ;
 z-index: 2 ;
 transform: translateX(-100%);
 -webkit-transform: translateX(-100%);
 animation: slide-out 0.5s forwards;
 -webkit-animation: slide-out 0.5s forwards;
}

.navbar_side_menu--in {
animation: slide-in 0.5s forwards;
-webkit-animation: slide-in 0.5s forwards;
}

.navbar_side_menu--out {
animation: slide-out 0.5s forwards;
-webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
 100% {
transform: translateX(0%);
 }
}

@-webkit-keyframes slide-in {
 100% {
-webkit-transform: translateX(0%);
 }
}

@keyframes slide-out {
 0% {
transform: translateX(0%);
 }
 100% {
transform: translateX(-100%);
 }
}

@-webkit-keyframes slide-out {
 0% {
-webkit-transform: translateX(0%);
 }
 100% {
-webkit-transform: translateX(-100%);
 }
}
