

.layout_container {
    position: relative; 
    background-color: blue;
    width:100%;
    height: 500px;

    display: grid;
}    
/* 
.layout_container > * {
    grid-column-start: 1;
    grid-row-start: 1;
  } */

.layout_menu{
    z-index: 2000;
}
.navbar{

}